<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683642385358-74l943njgtdki7ellosa4t5q5h079bv6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683642385358-74l943njgtdki7ellosa4t5q5h079bv6</string>
	<key>API_KEY</key>
	<string>AIzaSyBEk72bvUlUCxY1b1PspBnS8ihJC7KkKNE</string>
	<key>GCM_SENDER_ID</key>
	<string>683642385358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tapnetworkapp.com</string>
	<key>PROJECT_ID</key>
	<string>donovan-benko-app</string>
	<key>STORAGE_BUCKET</key>
	<string>donovan-benko-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683642385358:ios:1642e586b244352dc6719f</string>
	<key>DATABASE_URL</key>
	<string>https://donovan-benko-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>